*{
    
    background-color: #212121;
    margin: 0;
    padding: 0;
    font-family:  'Tiro Bangla', serif;
    text-align: center;
    color: rgb(222, 214, 214);
    font-size: 14px;
    
    
}

    /*navigation */

header,div,a{
    text-decoration: none;
    align-items: center;
    padding:  0 6%;
    margin-top:5% ;
    color: #f6a71f;
}

header,div,a:hover{
    color: #841ddf ;}

    /*header section */
    
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}  


   


.heading {
    margin-top: -10%;
    font-size: 7rem;
    font-family: 'Tiro Bangla', serif;
    line-height: 1.3;
    background: -webkit-linear-gradient(right,#4a00e0, #8e2de2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2{
    font-size: 2.5rem;
    font-family: 'Tiro Bangla', serif;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #841ddf;
    
}
h3{
    font-size: 1.2rem;
    font-family: 'Tiro Bangla', serif;
    margin-bottom: 20px;
    color:#f6a71f ;
    text-align: left;
    font-weight: 200px;

}
h4{
    font-size: 0.9rem;
    font-family: 'Tiro Bangla', serif;
    color:#f6a71f ;
    font-weight: 150px;
    
}
 hr{
  
  border: dotted #e3dddd 6px;
  border-bottom: none;
  width: 4%;
    margin: 100px auto 100px auto;
}

 

 /* About Section */

.about-me{
    width: 35%;
    margin: auto;
}

/* section Work */

.work-section{
    width: 50%;
    display: flex;
    justify-content:space-between;
    margin: auto;
    padding-bottom: 3%;
    padding-top: 3%;
    align-items: center;    
}
.work-image{
    width: 25%;
    padding-right: 10%;
}
.work-image-2{
    width: 25%;
    padding-left: 10%;
    
    
}
.right{
    margin-top: -7%;
}
.work-section-2{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: auto;
    align-items: center;
}
.work-para-1{
    text-align: left;
    width: 100%;
}
.left{
    margin: -5% 0 0 -5%;
}

    

.work-heading{
    width: 50%;
    padding: 2%;
    background-color:#262626 ;
    font-size: 3rem;
    margin: auto;
}


/*section-help*/

.heading-help{
    padding:30px ;
    text-align: center;
    background-color:#262626 ;
    margin: auto;
    margin-top: -50px;
    width: 400px;
}
.help{
    font-size: 3.rem;
    background: none;
    margin-bottom: 30px;
}
.help-para{
    width: 40%;
    margin: auto;
    margin-top:  5px;
    font-weight: 100;
   
}
.available{
    background: none;
   
}

.button{
    background: none;
}
.btn {
    background: #4a00e0;
    background-image: -webkit-linear-gradient(top, #4a00e0, #8e2de2);
    background-image: -moz-linear-gradient(top, #4a00e0, #8e2de2);
    background-image: -ms-linear-gradient(top, #4a00e0, #8e2de2);
    background-image: -o-linear-gradient(top, #4a00e0, #8e2de2);
    background-image: linear-gradient(to bottom, #4a00e0, #8e2de2);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e61c55;
    background-image: -webkit-linear-gradient(top, #e61c55, #f6a71f);
    background-image: -moz-linear-gradient(top, #e61c55, #f6a71f);
    background-image: -ms-linear-gradient(top, #e61c55, #f6a71f);
    background-image: -o-linear-gradient(top, #e61c55, #f6a71f);
    background-image: linear-gradient(to bottom, #e61c55, #f6a71f);
    text-decoration: none;
  }

.bottom{
    background-color: #262626;
    background: none;
    padding: 40px;
    color: #f6a71f;
}

@media  (max-width:720px) {
    .container{
        display: block;
    }

    .heading{
        margin: 5%;
    }
    .work-section{
        width: 50%;
        margin-top:5% ;
        justify-content: space-evenly;
        display: block;

    }
    .work-section-2{
        width: 50%;
        flex-direction: column;
    }
    
    .left{
        margin-top: 5%;
        margin: auto;
    }
    .right{
        margin-top: 10%;
        margin: auto;
    }

    h3{
        text-align: center;
        margin:  auto auto 5% auto;
    }
    .work-para-1{
        text-align: center;
    }
    .work-image{
        width: 30%;
        padding-left: 10%;
        margin-bottom: 5%;
      
    }
    .work-image-2{
        width: 30%;
        padding-right:10% ;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .help-para{
        width: 75%;
    }
    
}   



   